.main {
  padding-top: 250px;
  background-color: #020114;
  height: 100vh;
  color: antiquewhite;
}

.main span {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  padding: 0 auto;
  text-align: center;
  font-size: 75px;
}
