.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 0.1px solid rgb(214, 207, 207);
  border-color: #d3d1d1;
  background-color: rgb(255, 255, 255);
  color: #030303;
  position: fixed; /* Stick it to the top */
  top: 0; /* Align it to the top */
  left: 0;
  width: 100%; /* Ensure it covers the entire width of the screen */
  z-index: 1000; /* Ensure it stays on top */
  box-sizing: border-box;
}

.navbar-left {
  flex: 1;
}

.navbar-logo {
  height: 50px;
}

.navbar-right {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.dropdown {
  padding-right: 20px;
  position: relative;
  display: inline-block;
  width: max-content;
}

.dropdown-button {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  color: rgb(3, 3, 3);
  border-radius: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  right: 0;
  background-color: #7367f0;
  width: max-content;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  border-radius: 10px;
  background-color: #6a62c0;
  color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}

/* asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  */

.dropdown-profile {
  padding-right: 20px;
  position: relative;
  display: inline-block;
  width: max-content;
}

.dropdown-button-profile {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  color: rgb(3, 3, 3);
  border-radius: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content-profile {
  border-radius: 10px;
  display: none;
  position: absolute;
  right: 0;
  background-color: #7367f0;
  width: max-content;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
}

.dropdown-content-profile a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-profile a:hover {
  border-radius: 10px;
  background-color: #6a62c0;
  color: rgb(255, 255, 255);
}

.dropdown-content-profile ul li {
  list-style: none;
}

.dropdown-profile:hover .dropdown-content-profile {
  display: block;
}
