<nav class="navbar">
  <!-- Left: Logo -->
  <div class="navbar-left">
    <a [routerLink]="['/']">
      <img src="\images\logo.png" alt="" class="navbar-logo" height="80px" />
    </a>
  </div>

  <!-- Center: Search bar -->
  <!-- <div class="navbar-center">
    <input type="text" placeholder="Search..." class="search-input" />
  </div> -->

  <!-- Right: Dropdown -->
  <div class="navbar-right">
    <div class="dropdown">
      <button class="dropdown-button">Documents List</button>
      <div class="dropdown-content">
        @for (item of serviceList; track $index) {
        <a (click)="routetoservicedetail(item.id)">{{ item.name }}</a>
        }
      </div>
    </div>
  </div>
</nav>