<nav class="navbar">
  <!-- Left: Logo -->
  <div class="navbar-left">
    <img src="\images\logo.png" alt="" class="navbar-logo" />
  </div>

  <!-- Center: Search bar -->
  <!-- <div class="navbar-center">
    <input type="text" placeholder="Search..." class="search-input" />
  </div> -->

  <!-- Right: Dropdown -->
  <div class="navbar-right">
    <div class="dropdown">
      <button class="dropdown-button">Docs</button>
      <div class="dropdown-content">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
      </div>
    </div>
  </div>
</nav>
