<nav class="navbar">
  <!-- Left: Logo -->
  <div class="navbar-left">
    <a [routerLink]="['/']">
      <img src="\images\ShapesPay-Final-Logo-web.png" alt="" class="navbar-logo" height="80px" />
    </a>
  </div>

  <!-- Right: Dropdown -->
  <div class="navbar-right">
    <div class="dropdown">
      <button class="dropdown-button">Documents <i class="bi bi-caret-down-fill"></i></button>
      <div class="dropdown-content">
        @for (item of serviceList; track $index) {
        <a (click)="routetoservicedetail(item.Id)">{{ item.Title }}</a>
        }
      </div>
    </div>

    <!-- <span class="Profile">
      <div class="dropdown-profile">
        @if(!isLoggedIn){
        <div class="dropdown-profile">
          <button class="dropdown-button-profile"><i class="bi bi-person-circle"></i></button>
          <div class="dropdown-content-profile">
            <a [routerLink]="['/login']">Access to your account</a>
            <a [routerLink]="['/signup']">Create your account</a>
          </div>
        </div>
        }@else{
        <div class="dropdown-profile">
          <button class="dropdown-button-profile"><i class="bi bi-person"></i></button>
          <div class="dropdown-content-profile">
            <a [routerLink]="['/dashboard']">Dashboard</a>
            <a [routerLink]="['/']" (click)="logout()">Sign Out</a>
          </div>
        </div>
        }
      </div>
    </span> -->
  </div>
</nav>