.my-breadcrumbs {
  cursor: pointer;
}

.my-breadcrumbs a {
  font-size: 14px;
  display: inline;
  color: grey;
  text-decoration: none;
  /* font-style: italic; */
}

.PageContent-main::-webkit-scrollbar {
  width: 0;
  /* border: 1px solid grey; */
  height: calc(100vh - 72px);
  overflow: auto;
}

.PageContent-main {
  /* border: 1px solid blue; */
  height: calc(100vh - 72px);
  overflow: auto;
}

.PageContent-content {
  height: 200vh;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid red; */
  padding: 20px;
}

.PageContent-content h1 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bolder;
}

.PageContent-content p {
  font-size: 18px;
}

.PageContent-content li {
  font-size: 18px;
  margin-top: 10px;
}

.leftsidebar {
  border-right: 1px solid rgb(209, 204, 204);
  font-weight: 500;
  text-decoration: none !important;
}

.leftsidebar ul li {
  font-size: larger;
  margin-top: 10px;
  font-weight: 500;
}

.rightbar {
  cursor: pointer;
  padding: 10px;
  border-left: 1px solid rgb(209, 204, 204);
}

.rightbar li {
  margin-top: 10px;
}

.rightbar li:hover {
  padding: 10px;
  background-color: rgb(146, 89, 18);
  color: antiquewhite;
}

.innerhtml-styling h1 {
  color: red;
}

.container-fluid {
  overflow-y: auto;
}

.leftsidebar {
  background-color: #f8f9fa;
}

.PageContent-main {
  padding: 20px;
}

.rightbar {
  background-color: #f8f9fa;
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;
}

.rightbar ul {
  list-style: none;
  padding: 0;
}

.rightbar li {
  cursor: pointer;
  color: #007bff;
  margin-bottom: 5px;
}
