<!-- <router-outlet></router-outlet> -->
<div class="container-fluid" style="padding-top: 72px; max-height: 100vh; min-height: 100vh">
  <div class="row main">

    <!-- Left Sidebar -->
    <div class="col-2 g-0 leftsidebar nz-menu">
      <ul nz-menu nzMode="inline">
        @for (item of contentData; track $index) {
        @if (item.ParentBody !== null && item.ParentBody !== "undefined") {
        <li nz-menu-item style="cursor: pointer;"
          (click)="selectCategory(item.ID, item.ID); selectContent(item.ID, item.ID)" style="margin-top: 10px">
          {{ item.ParentTitle }}
        </li>
        } @else {
        <li nz-submenu [nzTitle]="item.ParentTitle" style="margin-top: 0">
          <ul>
            @for (child of item.ChildHeader; track $index) {
            <li nz-menu-item style="cursor: pointer;"
              (click)="selectCategory(item.ID, child.ID); selectContent(item.ID, child.ID)" style="margin-top: 0">
              {{ child.ChildTitle}}
            </li>
            }
          </ul>
        </li>
        }
        }
      </ul>
    </div>


    <!-- Page Content -->
    <div class=" col-8 g-0 PageContent-content">
      @for (item of PageContent; track $index) {
      @if(item.ParentBody !== null && item.ParentBody !== "undefined"){
      <div>
        <h3 id="{{item.heading}}">{{item.heading}}</h3>
        <p [innerHTML]="item.para"></p>
        <img src={{item.Img}} alt="" style="text-align: center;">
      </div>
      }@else{
      <p>Data not found</p>
      }
      }
    </div>


    <!-- Right Sidebar -->
    <div class="col-2 rightbar">
      <h6>On this page</h6>
      <ul>
        @for (heading of rightbarlist; track $index) {
        <li (click)="Scrolltotext(heading)"> {{ heading }} </li>
        <div style="height: 1px; width: 100%; background-color:grey;"></div>
        }
      </ul>
    </div>
  </div>
</div>