<!-- <router-outlet></router-outlet> -->
<div class="container-fluid" style="padding-top: 72px; max-height: 100vh; min-height: 100vh">
  <div class="row main">

    <!-- Left Sidebar -->
    <div class="col-3 g-0 leftsidebar nz-menu">
      <ul nz-menu nzMode="inline">
        @for (item of contentData; track $index) {
        @if (!item.ChildHeader || item.ChildHeader.length === 0) {
        <!-- Single menu item without child -->
        <li nz-menu-item style="cursor: pointer;" (click)="selectCategory(item.ID); selectContent(item.ID)"
          style="margin-top: 0">
          {{ item.ParentTitle }}
        </li>
        } @else {
        <!-- Parent menu item with sublist -->
        <li nz-submenu [nzTitle]="item.ParentTitle" nzIcon="appstore" style="margin-top: 0">
          <ul>
            <!-- Iterate over child headers and display submenu items -->
            @for (child of item.ChildHeader; track $index) {
            <li nz-menu-item style="cursor: pointer;" (click)="selectCategory(child.ChildID); selectContent(item.ID)"
              style="margin-top: 0">
              {{ child.ChildtTitle }}
            </li>
            }
          </ul>
        </li>
        }
        }
      </ul>
    </div>

    <!-- News Feed -->
    <div class="col-7 g-0 PageContent-main">
      <div class="PageContent-content">
        <!-- <div class="my-breadcrumbs">
          <a href="/"> Home </a>/
          <a href="#"> Commerce-sdk </a>/
          <a href="/"> Integration Methods </a>/
          <a href="/"> Commerce Web Services </a>
        </div>
        <br /> -->

        <div class="PageContent-data" ngSkipHydration>
          @for (item of PageContent; track $index) {
          @if (ChildID == 101) {
          <!-- Elavon Commerce SDK overview -->
          <h1 id="{{item.heading}}">{{item.heading}}</h1>
          <p [innerHTML]="item.para"></p>
          <h1 id="{{item.heading2}}">{{item.heading2}}</h1>
          <p [innerHTML]="item.para2"></p>
          <h1 id="{{item.heading3}}">{{item.heading3}}</h1>
          <img src={{item.img}} alt="Workflow of Elavon Commerce SDK">
          }

          @else if(ChildID == 102){
          <h1 id="{{item.heading}}">{{item.heading}}</h1>
          <p [innerHTML]="item.para"></p>
          <h1 id="{{item.heading2}}">{{item.heading2}}</h1>
          <p [innerHTML]="item.para2"></p>
          <p [innerHTML]="item.para3"></p>
          <p [innerHTML]="item.para4"></p>
          <p [innerHTML]="item.para5"></p>
          }

          @else if (ChildID == 202) {
          <h1 id="{{item.heading}}">{{item.heading}}</h1>
          <p>{{item.para}}</p>
          <h1 id="{{item.heading2}}">{{item.heading2}}</h1>
          <p>{{item.para2}}</p>
          <p>{{item.para3}}</p>
          }

          @else if (ChildID == 302) {
          <h1 id="{{item.heading}}">{{item.heading}}</h1>
          <p>{{item.para}}</p>
          <h1 id="{{item.heading2}}">{{item.heading2}}</h1>
          <p>{{item.para2}}</p>
          <p>{{item.para3}}</p>
          }


          @else{
          <p>Data Not Found</p>
          }
          }
        </div>

      </div>
    </div>

    <!-- Right Sidebar -->
    <div class="col-2 rightbar">
      <h5>On this page</h5>
      <ul>
        @for (heading of rightbarlist; track $index) {
        <li (click)="Scrolltotext(heading)"> {{ heading }} </li>
        <div style="height: 1px; width: 100%; background-color: #007bff;"></div>
        }
      </ul>
    </div>
  </div>
</div>