<!-- <router-outlet></router-outlet> -->
<div class="container-fluid" style="padding-top: 72px; max-height: 100vh; min-height: 100vh">
  <div class="row main">
    <!-- Left Sidebar -->
    <div class="col-3 g-0 leftsidebar nz-menu">
      <ul nz-menu nzMode="inline">
        @for (item of leftbarlist; track $index){
        @for (x of item. description; track $index){
        @for (y of x.sidebarlist; track $index) {
        @if(y.sublist.length <= 0) { <li nz-menu-item (click)="selectedlist(y.id)">{{ y.name }}</li>
          } @else {
          <li nz-submenu [nzTitle]="y.name" nzIcon="appstore">
            <ul>
              @for (z of y.sublist; track $index) {
              <li nz-menu-item>{{ z.name }}</li>
              }
            </ul>
          </li>
          } } } }
      </ul>
    </div>

    <!-- News Feed -->
    <div class="col-7 g-0 newsfeed-main">
      <div class="newsfeed-content">
        <div class="my-breadcrumbs">
          <a href="#"> Home </a>/ <a href="#"> Commerce-sdk </a>/
          <a href="#"> Integration Methods </a>/
          <a href="#"> Commerce Web Services </a>
        </div>
        <br />
        @for (item of newsfeed; track $index) {
        <!-- @for (x of item; track $index) { -->
        <!-- <li onclick="myFunction('overview')">{{x.name}}</li> -->
        <div id="overview" [innerHTML]=item.body></div>
        <!-- } -->
        }

      </div>
    </div>

    <!-- Right Side Bar -->
    <div class="col-2 rightbar">
      <h5>On this page</h5>

      <ul>
        @for (item of rightbarlist; track $index) {
        @for (x of item; track $index) {
        <li onclick="myFunction('overview')">{{x.name}}</li>
        }
        }

      </ul>
      <!-- <li onclick="myFunction('overview')">{{item.name}}</li> -->
      <!-- <li onclick="myFunction('features')">Features</li>
      <li onclick="myFunction('workflow')">Workflow</li> -->
    </div>
  </div>
</div>