.PageContent-main::-webkit-scrollbar,
.rightbar::-webkit-scrollbar,
.leftsidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.PageContent-main::-webkit-scrollbar {
  width: 0;
  height: calc(100vh - 72px);
  overflow: auto;
}

.PageContent-main {
  /* border: 1px solid blue; */
  height: calc(100vh - 72px);
  overflow: auto;
  scrollbar-width: none;
}

.PageContent-content {
  /* height: 200vh; */
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
}

.PageContent-content h3 {
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.PageContent-content p {
  font-size: 16px;
  margin-bottom: 30px;
}

.PageContent-content ul li {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.PageContent-content img {
  max-width: 98%;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.leftsidebar {
  background-color: #7367f0;
  border-radius: 0.375rem;
  margin-top: 5px;
  box-shadow: 0 0.1875rem 0.75rem 0 rgba(166, 203, 240, 0.2);
  height: 100vh;
  top: 0;
  max-height: 88vh;
  position: sticky;
  overflow-y: scroll;
  border-right: 1px solid rgb(209, 204, 204);
  font-weight: 500;
  text-decoration: none !important;
}

.leftsidebar ul li {
  font-size: 16;
  margin-top: 10px;
  font-weight: 500;
}

/* .rightbar li {
  line-height: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(2, 1, 20);
  margin-bottom: 5px;
} */

/* .leftsidebar li:hover {
  background-color: rgb(2, 1, 20, 0.5);
  color: antiquewhite;
} */

/* .innerhtml-styling h3 {
  color: red;
} */

.container-fluid {
  overflow-y: auto;
}

.leftsidebar {
  background-color: #f8f9fa;
}

.PageContent-main {
  padding: 20px;
}

.PageContent-main h3 {
  padding: 10 0;
  margin: 10 0;
}

.rightbar {
  /* background-color: #7367f0; */
  border-radius: 0.375rem;
  margin-top: 5px;
  box-shadow: 0 0.1875rem 0.75rem 0 rgba(166, 203, 240, 0.2);
  text-align: center;
  top: 0;
  max-height: 88vh;
  position: sticky;
  overflow-y: scroll;
  cursor: pointer;
  /* max-height: calc(100vh - 72vh); */
  /* -ms-overflow-style: none; */
  border-left: 1px solid rgb(209, 204, 204);
}

.rightbar h5 {
  cursor: auto;
  margin-top: 20px;
  text-transform: uppercase;
  color: rgb(2, 1, 20);
}

.rightbar ul {
  padding: 10px;
  list-style: none;
}

.rightbar li {
  line-height: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(2, 1, 20);
  margin-bottom: 5px;
}

.rightbar li:hover {
  border-radius: 10px;
  background-color: #7367f0;
  color: antiquewhite;
}
