.PageContent-main::-webkit-scrollbar,
.rightbar::-webkit-scrollbar,
.leftsidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.PageContent-main::-webkit-scrollbar {
  width: 0;
  height: calc(100vh - 72px);
  overflow: auto;
}

.PageContent-main {
  /* border: 1px solid blue; */
  height: calc(100vh - 72px);
  overflow: auto;
  scrollbar-width: none;
}

.PageContent-content {
  /* height: 200vh; */
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
}

.PageContent-content h3 {
  margin-top: 10px;
  font-weight: bolder;
}

.PageContent-content p {
  font-size: 18px;
}

.PageContent-content li {
  font-size: 18px;
  margin-top: 10px;
}

.PageContent-content img {
  max-width: 100%;
  flex-wrap: wrap;
}

.leftsidebar {
  top: 0;
  max-height: 88vh;
  position: sticky;
  overflow-y: scroll;
  border-right: 1px solid rgb(209, 204, 204);
  font-weight: 500;
  text-decoration: none !important;
}

.leftsidebar ul li {
  font-size: larger;
  margin-top: 10px;
  font-weight: 500;
}

/* .innerhtml-styling h3 {
  color: red;
} */

.container-fluid {
  overflow-y: auto;
}

.leftsidebar {
  background-color: #f8f9fa;
}

.PageContent-main {
  padding: 20px;
}

.PageContent-main h3 {
  padding: 10 0;
  margin: 10 0;
}

.rightbar {
  text-align: center;
  top: 0;
  max-height: 88vh;
  position: sticky;
  overflow-y: scroll;
  cursor: pointer;
  /* max-height: calc(100vh - 72vh); */
  /* -ms-overflow-style: none; */
  border-left: 1px solid rgb(209, 204, 204);
}

.rightbar h5 {
  cursor: auto;
  margin-top: 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(2, 1, 20);
}

.rightbar ul {
  padding: 10px;
  list-style: none;
}

.rightbar li {
  line-height: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(2, 1, 20);
  margin-bottom: 5px;
}

.rightbar li:hover {
  background-color: rgb(2, 1, 20);
  color: antiquewhite;
}
